body {
    margin: auto;
    width: 800px;
    font-family: 'Gentium Book Basic';
    font-size: 20px;
    text-align: center;
}

h1 {
    font-size: 45px;
    color: #1079ac;
}

h2 {
    font-size: 30px;
    color: #1079ac;
}

h3 {
    text-decoration: underline;
    color: #1079ac;
}

a {
    text-decoration: none;
    color: #ac1079;
}
a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td, th {
    text-decoration: bold;
    padding: 10px 10px 10px 10px;
}

#intro {
    margin-top: 60px;
}

#navBar {
    margin-top: 20px;
    padding-bottom: 20px;
}

#mainNav li {
    display: inline;
    margin: 0 20px 0 0;
    padding: 4px 4px 4px 4px;
    background-color: #d5d5d5;
    -moz-border-radius: 6px; 
    border-radius: 6px; /* standards-compliant: (IE) */ 
}

#mainNav li:hover {
    background-color: #a5a5a5;
    -moz-border-radius: 6px; 
    border-radius: 6px; /* standards-compliant: (IE) */ 
}

.content {
    margin-top: 40px;
    text-align:justify;
}
    

.news-element {
    margin-bottom: 40px;
}

.news-heading {
    font-size: 25px;
    text-decoration: bold;
    margin-bottom: 15px;
}

.news-block {
    background-color: #f5f5f5;
    padding: 10px 10px 10px 10px;
    -moz-border-radius: 6px; 
    border-radius: 6px; /* standards-compliant: (IE) */ 
}

.people-meta {
    text-decoration: bold;
    font-size: 25px;
    background-color: #f5f5f5;
    padding: 10px 10px 10px 10px;
    -moz-border-radius: 6px; 
    border-radius: 6px; /* standards-compliant: (IE) */ 

}

.people-block {
    text-align: justify;
    border: 0px;
    width: 100%;

}

.people-element img {
    border: 2px solid #1079ac;
}


.squarebrackets 
{
  position: relative;
  padding: 10px;
}

.squarebrackets:before {
   content: " ";
   position: absolute;
   border-left:5px solid #1079ac;
   border-top:5px solid #1079ac;
   border-bottom:5px solid #1079ac;
   padding:5px;
   top:-10px;
   bottom:-10px;
   left: -5px;
}

.squarebrackets:after
{
   content: " ";
   position: absolute;
   border-right:5px solid #1079ac;
   border-top:5px solid #1079ac;
   border-bottom:5px solid #1079ac;
   padding:5px;
   top:-10px;
   bottom:-10px;
   right: -5px;
}



